.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.6rem;
}

.form__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $font-color;
    padding: 1rem 2rem;
    min-width: 40vw;
    border: 1px solid $grey-light-2;
    border-top: 4px solid $color-tertiary;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    @media only screen and(max-width:$bp-medium) {
        min-width: 50vw;
    }
    @media only screen and(max-width:$bp-smallest) {
        min-width: 70vw;
    }
    //min-width: 25vw;
    background-color: #fff;
    &--heading {
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 2rem;
        font-weight: 400;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba($grey-dark, 0.5);
    }

    &--row {
        width: 100%;

        input {
            border: 0;
            width: 100%;
            padding: 1rem 0.5rem;
            margin-bottom: 5vh;
            border-right: none;
            border-top: none;
            border-left: none;
            border-bottom: 1px solid $grey-light-2;
            background-color: transparent;
            outline: none;
            color: rgba(#000, 0.9);
            caret-color: rgba(#000, 0.9);
            transition: all 0.3s;
        }
        input:focus {
            border-bottom: 1px solid $color-tertiary;
        }
        input:hover {
            border-bottom: 1px solid $color-tertiary;
        }
    }
}
.form__login--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .message--1 {
        font-size: 1.3rem;
        margin-right: 1rem;
    }
    .message--2 {
        font-size: 1.7rem;
        font-weight: bold;
        text-decoration: underline;
        transition: all 0.2s;
        backface-visibility: hidden;
    }
    .message--2:hover {
        transform: scale(1.05);
        color: #000;
    }
}
.btn-primary {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent;
    color: $color-tertiary;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    border: 1px solid $color-tertiary;
}
.btn-primary:hover {
    background-color: rgba($color-tertiary, 0.8);
    color: $grey-light-1;
}

//logged in screen
.logged-in {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
}
