@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$color-primary: #212529;
$color-secondary: #6abe45;
$color-tertiary: #0097e6;

$font-color: rgba(#000, 0.8);

$grey-light-1: #faf9f9;
$grey-light-2: #d7dbdf;
$grey-dark: #353b48;

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

$bp-x-largest: 100em; //1600px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
$bp-x-smallest: 25em; //400px

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and(min-width:$bp-x-largest) {
        font-size: 70%;
    }
    @media only screen and(max-width:$bp-medium) {
        font-size: 55%;
    }
    @media only screen and(max-width:$bp-small) {
        font-size: 50%;
    }
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $font-color;
    font-size: 1.6rem;
    background-color: $grey-light-2;
    overflow-x: hidden;
}

//Headings
.heading-1 {
    position: relative;
    padding: 1rem 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    color: $grey-light-1;
    font-weight: 300;
    font-family: "Lobster", cursive;
    outline: none;
    @media only screen and(max-width:$bp-smallest) {
        padding: 0;
    }
}
.heading-2 {
    font-size: 2.4rem;
    color: $grey-light-1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.heading-3 {
    font-size: 2.2rem;
    color: $grey-light-1;
    letter-spacing: 1px;
}

//buttons
@mixin btn {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.5rem;

    padding: 1rem 1.8rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    transform-origin: center;
    backface-visibility: hidden;
}

.btn,
.btn:link,
.btn:visited {
    color: $grey-light-1;
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    @include btn;

    &:active {
        transform: translateY(1px);
    }
    &:hover {
        background-color: rgba($color-secondary, 0.8);
    }
}
.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    height: 4.5rem;
    @include btn;
}
.btn-secondary:active {
    transform: translateY(1px);
}
.btn-secondary:hover {
    background-color: $color-secondary;
    color: $grey-light-1;
}

a {
    text-decoration: none;
    color: $grey-dark;
}
