.details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, minmax(20rem, 1fr));
    padding: 7rem 7rem;
    column-gap: 5rem;
    @media only screen and(max-width:$bp-medium) {
        grid-template-rows: repeat(2, minmax(20rem, 50vh));
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    &__left {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        @media only screen and(max-width:$bp-medium) {
            align-items: center;
        }
    }

    &__bottom {
        grid-column: 1 / -1;
    }
    &__carousel {
        img {
            width: 30rem;
        }
        margin-bottom: 3rem;
    }

    &__about {
        &--heading {
            font-size: 2rem;
            color: #000;
            margin-bottom: 2rem;
        }
        &--desc {
        }
    }

    &__right {
    }

    &__form {
        align-items: start;

        &--login {
            min-width: 30vw;
            background: #fff;
            @media only screen and(max-width:$bp-medium) {
                min-width: 50vw;
            }
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.review {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    @media only screen and(max-width:$bp-smallest) {
        flex-direction: column;
        align-items: center;
    }
    &__user {
        img {
            border-radius: 50%;
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        flex: 0;
        flex-basis: 70%;
        justify-content: center;
        @media only screen and(max-width:$bp-smallest) {
            width: 60%;
            margin-top: 2rem;
        }

        &--text {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        &--name {
            font-size: 1.4rem;
            color: $grey-dark;
        }
        &--info {
            display: flex;
            justify-content: space-between;
        }
        &--rating {
            font-size: 2rem;
            color: $color-secondary;
        }
    }
}
