.details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.9fr 0.5fr 1fr;
    align-items: start;
    gap: 5rem;
    padding: 5%;

    @media only screen and(max-width:$bp-medium) {
        grid-template-rows: 50vh 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 5rem;
        padding: 5rem;
    }

    &__left {
        display: flex;
        flex-direction: column;

        @media only screen and(max-width:$bp-medium) {
            justify-content: center;
            align-items: center;
            grid-row: 2 / 4;
        }
    }
    &__carousel {
        width: 100%;
        margin-bottom: 6rem;

        @media only screen and(max-width:$bp-smallest) {
            width: 120%;
        }
        img {
            width: 100%;
            height: 100%;
        }

        &--cell {
            width: 100%;
            border-radius: 3px;
            overflow: hidden;
        }
    }
    &__about {
        &--heading {
            font-size: 2rem;
            color: #000;
            margin-bottom: 2rem;
        }
        &--desc {
        }
    }

    &__right {
        align-self: start;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and(max-width:$bp-medium) {
            grid-row: 1 / 2;
            align-self: center;
        }
        input {
            font-size: 1.8rem;
            cursor: pointer;
        }
    }

    &__form {
        padding: 0;
        align-items: flex-start;
        min-height: auto;
        &--login {
            min-width: 30vw;
            background: #fff;

            @media only screen and(max-width:$bp-medium) {
                min-width: 60vw;
            }
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1 / -1;
    }
}
.review {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 2rem 0;
    padding: 2rem 3rem;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(#000, 0.1);
    backface-visibility: hidden;
    transition: all 0.3s;

    @media only screen and(max-width:$bp-smallest) {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    &__user {
        img {
            border-radius: 50%;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        flex: 0;
        flex-basis: 70%;
        justify-content: center;
        padding: 1rem 0;
        padding-left: 1.5rem;
        @media only screen and(max-width:$bp-smallest) {
            width: 80%;
        }

        &--text {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
        &--name {
            font-size: 1.4rem;
            color: $grey-dark;
        }
        &--info {
            display: flex;
            justify-content: space-between;
        }
        &--rating {
            font-size: 2rem;
            color: $color-secondary;
        }
    }
}
.review:hover {
    box-shadow: 0 3rem 4rem rgba(#000, 0.2);
    transform: scale(1.01);
}
.form-details {
    width: 50%;
    justify-self: center;
    align-self: center;
    grid-column: 1 / -1;

    textarea {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid #aaa;
        border-radius: 0.3rem;
        outline: none;
        font-size: 1.6rem;
        caret-color: $grey-dark;
    }
}

//flickity plugin
.flickity-prev-next-button {
    @media only screen and(max-width:$bp-medium) {
        width: 3.5rem !important;
        height: 3.5rem !important;
    }
    @media only screen and(max-width:$bp-smallest) {
        width: 3rem !important;
        height: 3rem !important;
    }
}
