.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $grey-light-1;

    &__up {
        background-color: $color-primary;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex: 1;
        padding: 3rem 5%;

        @media only screen and(max-width:$bp-smallest) {
            flex-direction: column;
            align-items: center;
        }

        &--heading {
            font-weight: bold;
        }
        &--contact {
            display: flex;
            flex-direction: column;

            flex-basis: 25%;
            justify-content: space-around;
            align-items: flex-start;
            @media only screen and(max-width:$bp-smallest) {
                margin-bottom: 3.5rem;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
        }
        &--location,
        &--mail,
        &--phone {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 1.8rem;
            transition: all 0.3s;
            i {
                font-size: 2rem;
                margin-right: 2.5rem;
            }
        }
        &--location:hover,
        &--mail:hover,
        &--phone:hover {
            color: $color-secondary;
        }

        &--signup {
            flex-basis: 25%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            label {
                margin-bottom: 1rem;
            }
            input {
                border: 0;
                width: 100%;
                padding: 1rem 0.5rem;
                margin-bottom: 5vh;
                border-right: none;
                border-top: none;
                border-left: none;
                border-bottom: 1px solid $grey-dark;
                background-color: $grey-dark;
                outline: none;
                color: $grey-light-1;
                caret-color: $grey-light-1;
                transition: all 0.3s;
            }
            input:hover {
                border-bottom: 1px solid $color-tertiary;
            }
            input:focus {
                border-bottom: 1px solid $color-tertiary;
            }
        }
        &--desc {
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
    &__mid {
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        flex: 1;
        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1.2rem;
            width: 4.2rem;
            background: $color-primary;
            border: 1px solid #fff;
            padding: 1rem;
            border-radius: 50%;
            transition: all 0.3s;
            cursor: pointer;
            .fab {
                color: #fff;
                font-size: 1.7rem;
            }
        }
        & > *:hover {
            background: #fff;
            .fab {
                color: $color-primary;
            }
        }
    }
    &__down {
        padding: 2rem 1rem;
        background-color: $grey-dark;
        text-align: center;
        flex: 1;
        font-size: 1.4rem;
        color: rgba($grey-light-1, 0.8);
        span {
            font-family: "Lobster", cursive;
        }
    }
}
.btn--footer {
    width: 100%;
}
