@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600&display=swap);* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 43.75em) {
  html {
    font-size: 48%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: #f4f2f2;
}

.heading-1 {
  font-size: 10rem;
  color: #273c75;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  font-weight: 300;
}

@media only screen and (max-width: 37.5em) {
  .heading-1 {
    padding: 2rem 2rem;
    margin: 2rem 0;
  }
}

